* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: url("assets/star-icon.png"), auto;
  }

  .image-container {
    position: relative;
    display: inline-block; /* Adjust this if needed */
    background-color: black;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    width: 100%;
    text-align: center;
    visibility: hidden; /* Initially hidden */
}

.image-container:hover .overlay {
    visibility: visible; /* Show on hover */
}
body {
  padding: 1rem;
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url('assets/DarkImage.png');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  image-rendering: auto;
  
}

header {
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black;
}

/* #the-guy {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 200px;
  margin-bottom: 20px;
} */

#astro-events {
  z-index: 1;
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
  position: fixed;
  top: 100px;
  left: 100px;
  right: 100px;
  
}
#detail-location {
  color: rgb(218, 240, 24);
}
#astro-events img {
  flex: 0 1 auto;
  height: 150px;
  margin-right: 0.5rem;
  cursor: url("assets/shooting-star.png"), auto;
  object-fit:cover;
  height: 150px ;
  width: 200px ;
}

#astro-events img:last-child {
  
  margin-right: 0;
}

#astro-event-detail {
  color: rgb(218, 240, 24);
  position: relative;
  top:30%
}
#comment-display {
  color: rgb(218, 240, 24);
}
#detail-location{
  color: rgb(218, 240, 24);
  
}
.detail-image {
  object-fit: contain;
  height: 500px;
  width: 734px;
}


.name,
.location
{
  bottom: 60px;  
  color: rgb(218, 240, 24);
}

.name {
  bottom: 60px;
}


form {
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(218, 240, 24);
  position: relative;
  top: 300px
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid rgb(218, 240, 24);
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}

input[type="submit"] {
  color: rgb(218, 240, 24);
  border: 1px solid rgb(218, 240, 24);
  background-color: black;
  cursor: url('assets/shooting-star.png'), auto;
  transition: all 0.3s;
}

input[type="submit"]:active {
  background-color: gray;
}

form h4 {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
  border: rgb(218, 240, 24);;
  color: rgb(218, 240, 24);
  background-color: black;
}
